﻿@model IEnumerable<WMS.Api.ViewModels.ApiClientViewModels.ShowAllApiClientNameViewModel>

@{
    ViewBag.Title = "Index";
}

@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Show key for login", "ShowUserSecretKey", "UserSecretKey",new { apiClientId = item.Id }, new { @class="btn btn-default" })
                </td>
            </tr>
        }

    </table>
}
else
{
    <h1>There is no API clients.</h1>
}

