﻿@model WMS.Api.ViewModels.UserSecretKeyViewModels.ShowUserSecretKeyViewModel

@{
    ViewBag.Title = "ShowUserSecretKey";
}
 
<h2>ShowUserSecretKey</h2>

@if (!Model.SecretKey.IsEmpty())
{
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ApplicationName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ApplicationName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SecretKey)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SecretKey)
            </dd>

        </dl>
    </div>

    @Html.ActionLink("Generate new key", "CreateUserSecretKey", "UserSecretKey", Model, new { @class = "btn btn-default" })
}
else
{
    <h1>No key has been generated yet!</h1>
    @Html.ActionLink("Generate key", "CreateUserSecretKey", "UserSecretKey", Model, new { @class = "btn btn-default" })
}
