﻿@model WMS.Api.ViewModels.ApiClientViewModels.ShowApiClientSecretKeyViewModel

@{
    ViewBag.Title = "GetApplicationSecretKey";
}

<div>
    <h4>ShowApiClientSecretKey</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecretKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecretKey)
        </dd>

    </dl>

    @Html.ActionLink("Back to list", "ShowAllApiClients",new { }, new { @class = "btn btn-default" })
</div>
