﻿@model IEnumerable<WMS.Api.ViewModels.ApiClientViewModels.ShowAllApiClientViewModel>

@{
    ViewBag.Title = "ShowAllApiClients";
}

<h2>ShowAllApiClients</h2>

<p>
    @Html.ActionLink("Add new client", "AddApiClient", new { }, new { @class = "btn btn-default" })
</p>
@if (Model.Count() > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanRead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanWrite)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CanRead)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CanWrite)
                </td>
                <td>
                    @Html.ActionLink("Show secret key", "GetApiClientSecretKey", new { id = item.Id }, new { @class = "btn btn-default" }) |
                    @Html.ActionLink("Remove", "RemoveApiClient", new { id = item.Id }, new { @class = "btn btn-default" }) |
                    @Html.ActionLink("Edit", "EditApiClient", new { id = item.Id }, new { @class = "btn btn-default" })

                </td>
            </tr>
        }

    </table>
}
else
{
    <h1>There is no API clients.</h1>
}