﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome</h1>
    <p class="lead">Application to measure working time</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Register</a></p>
</div>
