<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:id="@+id/createPinLayout"
    android:orientation="vertical"
    android:background="@color/colorBackgroundMain"
    android:layout_width="match_parent"
    android:layout_height="match_parent">

  <include
      layout="@layout/app_bar" />

  <android.support.v7.widget.CardView
      android:id="@+id/card_enterpin"
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:layout_margin="0dp"
      app:cardBackgroundColor="@android:color/white"
      app:cardCornerRadius="5dp"
      app:cardElevation="10dp"
      app:cardUseCompatPadding="true">

    <RelativeLayout
        android:id="@+id/enterpin_relativeParent"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:background="@android:color/white">

      <TextView
          android:id="@+id/lbl_enterPin"
          android:layout_width="wrap_content"
          android:layout_height="wrap_content"
          android:layout_alignParentLeft="true"
          android:layout_alignParentStart="true"
          android:layout_alignParentTop="true"
          android:layout_marginLeft="10dp"
          android:layout_marginStart="10dp"
          android:layout_marginTop="10dp"
          android:drawableLeft="@drawable/ic_dialpad_black_24dp"
          android:drawablePadding="5dp"
          android:drawableStart="@drawable/ic_dialpad_black_24dp"
          android:text="Enter PIN"
          android:textColor="@color/colorLabel"
          android:textSize="18sp"
          android:textStyle="bold" />

      <com.goodiebag.pinview.Pinview
          android:id="@+id/pinViewFirst"
          android:layout_width="match_parent"
          android:layout_height="wrap_content"
          android:layout_below="@+id/lbl_enterPin"
          android:layout_centerHorizontal="true"
          android:layout_marginTop="10dp"
          app:cursorVisible="true"
          app:forceKeyboard="true"
          app:inputType="number"
          app:password="true"
          app:pinHeight="40dp"
          app:pinLength="4"
          app:pinWidth="40dp" />

      <TextView
          android:id="@+id/lbl_secondPin"
          android:layout_width="wrap_content"
          android:layout_height="wrap_content"
          android:layout_alignLeft="@+id/lbl_enterPin"
          android:layout_alignStart="@+id/lbl_enterPin"
          android:layout_alignTop="@+id/pinViewFirst"
          android:layout_marginTop="60dp"
          android:drawableLeft="@drawable/ic_dialpad_black_24dp"
          android:drawablePadding="5dp"
          android:drawableStart="@drawable/ic_dialpad_black_24dp"
          android:text="Repeat PIN"
          android:textColor="@color/colorLabel"
          android:textSize="18sp"
          android:textStyle="bold" />

      <com.goodiebag.pinview.Pinview
          android:id="@+id/pinViewSecond"
          android:layout_width="match_parent"
          android:layout_height="wrap_content"
          android:layout_below="@+id/lbl_secondPin"
          android:layout_marginTop="10dp"
          android:layout_marginBottom="30dp"
          app:cursorVisible="true"
          app:forceKeyboard="false"
          app:inputType="number"
          app:password="true"
          app:pinHeight="40dp"
          app:pinLength="4"
          app:pinWidth="40dp"
          android:layout_alignParentLeft="true"
          android:layout_alignParentStart="true" />

    </RelativeLayout>
  </android.support.v7.widget.CardView>

</LinearLayout>
