<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:id="@+id/dashboard_mainLayout"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@color/colorBackgroundMain"
    android:orientation="vertical"
    android:weightSum="1">
   
    <android.support.v7.widget.CardView
        android:id="@+id/card_overtime"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_margin="0dp"
        android:layout_weight="0.12"
        app:cardBackgroundColor="@android:color/white"
        app:cardCornerRadius="5dp"
        app:cardElevation="10dp"
        app:cardUseCompatPadding="true">
        <RelativeLayout
            android:id="@+id/overtime_relativeParent"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:background="@android:color/white">
            <TextView
                android:id="@+id/lbl_overtime"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_alignParentLeft="true"
                android:layout_alignParentStart="true"
                android:layout_alignParentTop="true"
                android:layout_marginLeft="10dp"
                android:layout_marginStart="10dp"
                android:layout_marginTop="10dp"
                android:drawablePadding="5dp"
                android:drawableStart="@drawable/ic_access_time_black_24dp"
                android:fontFamily="roboto"
                android:text="Overtime"
                android:textAppearance="@style/TextAppearance.AppCompat.Caption"
                android:textColor="@color/colorLabel"
                android:textSize="18sp"
                android:textStyle="bold"
                android:drawableLeft="@drawable/ic_access_time_black_24dp" />
            <TextView
                android:id="@+id/tv_overtime"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_alignParentEnd="true"
                android:layout_alignParentLeft="true"
                android:layout_alignParentRight="true"
                android:layout_alignParentStart="true"
                android:layout_alignParentTop="true"
                android:layout_marginTop="40dp"
                android:focusableInTouchMode="false"
                android:fontFamily="roboto"
                android:gravity="center"
                android:paddingTop="0dp"
                android:text="3h 12m"
                android:textAllCaps="false"
                android:textAppearance="@style/TextAppearance.AppCompat.Display2"
                android:textColor="@color/colorTextDark"
                android:textSize="60dp" />
        </RelativeLayout>
    </android.support.v7.widget.CardView>
    <android.support.v7.widget.CardView
        android:id="@+id/card_login"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_marginBottom="-20dp"
        android:layout_marginTop="-20dp"
        android:layout_weight="0.10"
        app:cardBackgroundColor="@android:color/white"
        app:cardCornerRadius="5dp"
        app:cardElevation="10dp"
        app:cardUseCompatPadding="true">
        <RelativeLayout
            android:id="@+id/logincard_relativeParent"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:background="@android:color/white"
            android:paddingBottom="10dp"
            android:paddingTop="10dp">
            <TextView
                android:id="@+id/lbl_workstatus"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_alignParentLeft="true"
                android:layout_alignParentStart="true"
                android:layout_centerVertical="true"
                android:layout_marginLeft="30dp"
                android:fontFamily="roboto"
                android:text="Start work"
                android:textAppearance="@style/TextAppearance.AppCompat.Caption"
                android:textColor="@color/colorTextDark"
                android:textSize="30sp"
                android:textStyle="bold" />
            <Button
                android:id="@+id/btn_stopWork"
                style="@style/Widget.AppCompat.Button.Colored"
                android:layout_width="90dp"
                android:layout_height="90dp"
                android:layout_alignParentEnd="true"
                android:layout_alignParentRight="true"
                android:layout_centerVertical="true"
                android:layout_marginRight="40dp"
                android:background="@drawable/circle_button"
                android:drawableTop="@drawable/ic_stop_black_24dp"
                android:elevation="10dp"
                android:fontFamily="sans-serif"
                android:paddingTop="13dp"
                android:textSize="14sp"
                android:textStyle="bold"
                android:visibility="visible" />
            <Button
                android:id="@+id/btn_startWork"
                style="@style/Widget.AppCompat.Button.Colored"
                android:layout_width="90dp"
                android:layout_height="90dp"
                android:layout_alignParentEnd="true"
                android:layout_alignParentRight="true"
                android:layout_centerVertical="true"
                android:layout_marginRight="40dp"
                android:background="@drawable/circle_button"
                android:drawableTop="@drawable/ic_play_arrow_black_24dp"
                android:elevation="10dp"
                android:fontFamily="sans-serif"
                android:paddingTop="13dp"
                android:textSize="14sp"
                android:textStyle="bold"
                android:visibility="gone" />
        </RelativeLayout>
        <TextView
            android:id="@+id/lbl_actions"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_alignParentLeft="true"
            android:layout_alignParentStart="true"
            android:layout_alignParentTop="true"
            android:layout_marginLeft="10dp"
            android:layout_marginStart="10dp"
            android:layout_marginTop="10dp"
            android:drawablePadding="5dp"
            android:drawableStart="@drawable/ic_computer_black_24dp"
            android:fontFamily="roboto"
            android:text="Actions"
            android:textAppearance="@style/TextAppearance.AppCompat.Caption"
            android:textColor="@color/colorLabel"
            android:textSize="18sp"
            android:textStyle="bold"
            android:drawableLeft="@drawable/ic_computer_black_24dp" />
    </android.support.v7.widget.CardView>
    <android.support.v7.widget.CardView
        android:id="@+id/card_worktime"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_margin="0dp"
        android:layout_marginTop="0dp"
        android:layout_weight="0.07"
        app:cardBackgroundColor="@android:color/white"
        app:cardCornerRadius="5dp"
        app:cardElevation="10dp"
        app:cardUseCompatPadding="true">
        <RelativeLayout
            android:id="@+id/worktime_relativeLayout"
            android:layout_width="match_parent"
            android:layout_height="104dp"
            android:background="@android:color/white">
            <TextView
                android:id="@+id/lbl_information"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_alignParentLeft="true"
                android:layout_alignParentStart="true"
                android:layout_alignParentTop="true"
                android:layout_marginLeft="10dp"
                android:layout_marginStart="10dp"
                android:layout_marginTop="10dp"
                android:drawablePadding="5dp"
                android:drawableStart="@drawable/ic_info_outline_black_24dp"
                android:fontFamily="roboto"
                android:text="Information"
                android:textAppearance="@style/TextAppearance.AppCompat.Caption"
                android:textColor="@color/colorLabel"
                android:textSize="18sp"
                android:textStyle="bold"
                android:drawableLeft="@drawable/ic_info_outline_black_24dp" />
            <TextView
                android:id="@+id/lbl_worktime"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_alignParentLeft="true"
                android:layout_alignParentStart="true"
                android:layout_below="@+id/lbl_information"
                android:layout_marginLeft="22dp"
                android:layout_marginTop="15dp"
                android:fontFamily="roboto"
                android:text="Worktime"
                android:textAppearance="@style/TextAppearance.AppCompat.Caption"
                android:textColor="@color/colorLabel"
                android:textSize="13sp"
                android:textStyle="bold" />
            <TextView
                android:id="@+id/tv_workTime"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_alignLeft="@+id/lbl_worktime"
                android:layout_alignStart="@+id/lbl_worktime"
                android:layout_below="@+id/lbl_worktime"
                android:fontFamily="roboto"
                android:text="46h 12m"
                android:textColor="@color/colorTextDark"
                android:textSize="24sp"
                android:textStyle="bold" />
            <TextView
                android:id="@+id/lbl_time"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_below="@+id/lbl_information"
                android:layout_marginLeft="60dp"
                android:layout_marginTop="15dp"
                android:layout_toEndOf="@+id/lbl_worktime"
                android:layout_toRightOf="@+id/lbl_worktime"
                android:fontFamily="roboto"
                android:text="Time"
                android:textAppearance="@style/TextAppearance.AppCompat.Caption"
                android:textColor="@color/colorLabel"
                android:textSize="13sp"
                android:textStyle="bold" />
            <TextView
                android:id="@+id/tv_time"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_alignLeft="@+id/lbl_time"
                android:layout_alignStart="@+id/lbl_time"
                android:layout_below="@+id/lbl_time"
                android:fontFamily="roboto"
                android:text="20:40"
                android:textColor="@color/colorTextDark"
                android:textSize="24sp"
                android:textStyle="bold" />
            <TextView
                android:id="@+id/lbl_date"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_below="@+id/lbl_information"
                android:layout_marginLeft="50dp"
                android:layout_marginTop="15dp"
                android:layout_toEndOf="@+id/lbl_time"
                android:layout_toRightOf="@+id/lbl_time"
                android:fontFamily="roboto"
                android:text="Date"
                android:textAppearance="@style/TextAppearance.AppCompat.Caption"
                android:textColor="@color/colorLabel"
                android:textSize="13sp"
                android:textStyle="bold" />
            <TextView
                android:id="@+id/tv_date"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_alignLeft="@+id/lbl_date"
                android:layout_alignStart="@+id/lbl_date"
                android:layout_below="@+id/lbl_date"
                android:fontFamily="roboto"
                android:text="19.11.17"
                android:textColor="@color/colorTextDark"
                android:textSize="24sp"
                android:textStyle="bold" />
        </RelativeLayout>
    </android.support.v7.widget.CardView>
</LinearLayout>