<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="178dp"
    android:background="@color/colorTransparent"
    android:orientation="vertical"
    android:weightSum="1">

    <RelativeLayout
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_alignParentLeft="true"
        android:layout_alignParentStart="true"
        android:layout_alignParentTop="true"
        android:animationCache="false"
        android:background="@color/colorLabelLight">

    </RelativeLayout>

    <ImageView
        android:id="@+id/imageView3"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_above="@+id/linearLayout"
        android:layout_alignParentLeft="true"
        android:layout_alignParentStart="true"
        android:layout_alignParentTop="true"
        android:layout_marginLeft="20dp"
        android:layout_marginRight="20dp"
        android:layout_marginTop="5dp"
        app:srcCompat="@drawable/pitneylogo" />

    <LinearLayout
        android:id="@+id/linearLayout"
        android:layout_width="match_parent"
        android:layout_height="54dp"
        android:layout_alignParentBottom="true"
        android:layout_alignParentLeft="true"
        android:layout_alignParentStart="true"
        android:layout_marginBottom="20dp"
        android:orientation="vertical">

        <TextView
            android:id="@+id/lbl_namesurname"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_gravity="start"
            android:layout_marginLeft="17dp"
            android:layout_marginStart="17dp"
            android:drawableLeft="@drawable/ic_person_outline_black_24dp"
            android:drawablePadding="5dp"
            android:drawableStart="@drawable/ic_person_outline_black_24dp"
            android:text="Kamil Zemczak"
            android:textColor="@android:color/white"
            android:textAlignment="textStart"
            android:textSize="24sp"
            android:textStyle="bold"
            android:typeface="sans" />

        <TextView
            android:id="@+id/lbl_email"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:layout_marginLeft="20dp"
            android:layout_marginStart="20dp"
            android:layout_marginTop="2dp"
            android:drawablePadding="9dp"
            android:drawableLeft="@drawable/ic_mail_outline_black_24dp"
            android:drawableStart="@drawable/ic_mail_outline_black_24dp"
            android:text="bail19950@gmail.com"
            android:layout_gravity="start"
            android:textAlignment="textStart"
            android:textColor="@color/colorLabelLight"
            android:textSize="14sp" />
    </LinearLayout>

    <RelativeLayout
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_alignParentBottom="true"
        android:animationCache="false"
        android:background="@color/colorLabelLight">

    </RelativeLayout>

</RelativeLayout>