<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:background="@color/colorBackgroundMain"
    android:orientation="vertical"
    android:weightSum="1">
    <android.support.v7.widget.CardView
        android:id="@+id/card_pickdate"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        app:cardCornerRadius="5dp"
        app:cardElevation="10dp"
        app:cardUseCompatPadding="true">
        <RelativeLayout
            android:id="@+id/pickDate_parent"
            android:layout_width="match_parent"
            android:layout_height="wrap_content">
            <TextView
                android:id="@+id/lbl_pickdate"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_alignParentLeft="true"
                android:layout_alignParentStart="true"
                android:layout_alignParentTop="true"
                android:layout_marginLeft="10dp"
                android:layout_marginStart="10dp"
                android:layout_marginTop="10dp"
                android:drawableLeft="@drawable/ic_date_range_black_24dp"
                android:drawablePadding="5dp"
                android:drawableStart="@drawable/ic_date_range_black_24dp"
                android:text="Pick date"
                android:textColor="@color/colorLabel"
                android:textSize="18sp"
                android:textStyle="normal" />
            <TextView
                android:id="@+id/tv_selecteddate"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_alignParentLeft="true"
                android:layout_alignParentStart="true"
                android:layout_alignParentTop="true"
                android:layout_marginBottom="20dp"
                android:layout_marginTop="50dp"
                android:gravity="center"
                android:textColor="@color/colorTextDark"
                android:textSize="40sp"
                android:textStyle="bold" />
        </RelativeLayout>
    </android.support.v7.widget.CardView>
    <android.support.v7.widget.CardView
        android:id="@+id/card_totalworktime"
        android:layout_width="match_parent"
        android:layout_height="100dp"
        android:layout_marginTop="-20dp"
        app:cardCornerRadius="5dp"
        app:cardElevation="10dp"
        app:cardUseCompatPadding="true">
        <RelativeLayout
            android:id="@+id/totalWorktime_parent"
            android:layout_width="match_parent"
            android:layout_height="match_parent">
            <TextView
                android:id="@+id/lbl_worktime"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_alignParentLeft="true"
                android:layout_alignParentStart="true"
                android:layout_alignParentTop="true"
                android:layout_marginLeft="10dp"
                android:layout_marginStart="10dp"
                android:layout_marginTop="10dp"
                android:drawableLeft="@drawable/ic_timelapse_gray_24dp"
                android:drawablePadding="5dp"
                android:drawableStart="@drawable/ic_timelapse_gray_24dp"
                android:text="Day worktime"
                android:textColor="@color/colorLabel"
                android:textSize="18sp"
                android:textStyle="bold" />
            <TextView
                android:id="@+id/tv_totalworktime"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_alignParentEnd="true"
                android:layout_alignParentRight="true"
                android:layout_centerVertical="true"
                android:layout_marginEnd="20dp"
                android:layout_marginRight="20dp"
                android:fontFamily="roboto"
                android:textAlignment="center"
                android:textColor="@color/colorPrimaryDark"
                android:textSize="30sp"
                android:textStyle="bold" />
        </RelativeLayout>
    </android.support.v7.widget.CardView>
    <android.support.v7.widget.RecyclerView
        android:id="@+id/recyclerView_timelogs"
        android:layout_width="match_parent"
        android:layout_height="match_parent" />
</LinearLayout>